*,
*::before,
*::after {
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.App {
  text-align: center;
  min-height: 100vh;
  background: #1b1c1d;
  margin: 0 !important;
}

.register,
.login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 350px;
  max-width: 90%;
}

.register div.input,
.login div.input {
  margin-bottom: 0.5rem;
}

.thermostat {
  margin: 2rem auto;
  max-width: 500px;
  user-select: none;
}

.display {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  margin: 0 auto 3rem;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 8px solid #00bdaa;
    right: 0;
    background: radial-gradient(
      circle at top left,
      rgba(255, 255, 255, 0.19),
      transparent
    );
  }
  .status {
    font-weight: bold;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
  }
  .temp {
    font-size: 5rem;
    margin: 0;
    font-weight: bold;
    color: white;
    line-height: 5rem;
    position: relative;
    &::after {
      content: "\00b0";
      position: absolute;
    }
  }
}

.controls {
  background: rgba(17, 17, 17, 0.5);
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  width: 220px;
  margin: 0 auto;
  border-radius: 10px;
}

.control-btn {
  background: none;
  color: #222;
  font-family: inherit;
  font-size: 3rem;
  border: none;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  cursor: pointer;
  outline-style: none;
  transition: opacity 125ms ease-out, color 125ms ease-out;

  &:first-child {
    grid-column: 1 / -1;
  }
}

.control-btn:disabled {
  opacity: 0;
}

.heating,
.cooling {
  font-weight: bold;
}

.heating {
  color: orangered;
}

.cooling {
  color: #00ccff;
}

.powerOn {
  color: greenyellow;
}

.minus-temp,
.add-temp {
  color: white;
}
